
body {
  background: #FFFFFF;
}

h1 {
  color: #69D6D1;
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  font-size: 80px;
}

h3 {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
}

.cvbox {
  margin-left: 162px;
}

.cvlist {
  list-style: none;
  font-family: "Avenir", Helvetica, Arial, sans-serif;
margin-left: 300px
}

.cvlist li {
  margin: 0 0 0 100px;
}

.cvlist li .cvtime {
  width:101px;
  display: inline-block;
  color: grey;
}
.cvlist li .cvdesc {
  font-weight: lighter;
  color: black;
  display: inline-block;
  margin-right: 300px
}

blockquote{
  font-family: "Avenir", Helvetica, Arial, sans-serif;
}

 /*a {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  font-size: 31px;
  color: #69D6D1;
  font-weight: bolder;
} */


/*  PORTFOLIO */



.background {
/* Rectangle: */
background: #F4F4F4;
height: 87vh;
width: 78vw;
position: fixed;
top: 5vh;
left: 18vw;
z-index: 0;

}

body{
  margin: 0;
}


ul
 {
  /* Contact: */
      font-family: ProximaNova-Regular;
      font-size: 5vw;
      color: #000000;
      letter-spacing: 0.08px;
      list-style-type: none;

      position: fixed;
      bottom: 5vh;
      left: 26vw;
      padding: 0;
      margin: 0;
      z-index: 2;
}

li{
  margin-right: 3vw;
  float: left;
}

.Copyrights {
  /* © 2017 MARIA CAPELLO: */
  transform: rotate(-90deg) translateX(-71px) translateY(-87px);
  font-family: ProximaNova-Light;
  font-size: 12px;
  color: #000000;
  letter-spacing: 0.01px;
  position: fixed;
  top: 13vh;
  left: 8vw;
  margin: 0;
  z-index: 2;

}



.Biglogo {
  position: fixed;
  z-index: 1;
  top:31vh;
  right: 2vw;
  height: 47vh;
  width: 279px;
}


 /* logo small */


.Smalllogo{
position: fixed;
z-index: 1;
top: 34vh;
right: 2vw;
height: 92vh;
width: 102;
z-index: 5;
}

a{
  color: black;
  text-decoration: none;
}

.perspective1 {
  width: 700px;
  height: 530px;
  position:relative;
  z-index: 1;
  left:50%;
  margin-left: -350px;
  margin-top:5vh;
  margin-bottom: 300px;
  background-color:
}

.perspective2 {
  width: 700px;
  height: 530px;
  position:relative;
  z-index: 1;
  left:50%;
  margin-left: -350px;
  margin-bottom: 300px;
  background-color:

}

.perspective3 {
  width: 700px;
  height: 530px;
  position:relative;
  z-index: 1;
  left:50%;
  margin-left: -350px;
  background-color:

}
.imagebox {
   overflow-y: hidden;
   overflow-x: auto;
   width: 600px;
   height: 100%;
   float: right;
   position: absolute;
   left: 330px;

}

.imagebox2 {
overflow-y:  hidden;
overflow-x: auto;
width: 300px;
height:100%;
float:right;

}
.imagebox3 {
overflow-y:  hidden;
overflow-x: auto;
width: 300px;
height: 100%;
float:right;

}

.description{
float:left;
width: 200px;
font-size: 20pt;
font-family: ProximaNova-Light;
color: #000000;
letter-spacing: 0.01px;
margin: 0;

}

.imgscroll {
  width:  2430px;
}

.imgscroll2 {
  width: 2217px;

}

.imgscroll3 {
  width: 2217px;
}

#perspective1 .imagebox img {
  width: 600px;
  margin-right: 6px;
}
#perspective1 .imagebox img:nth-child(4){
  margin-right: 0;
}

#perspective2 .imagebox2 img {
  height:400px;
  margin-right: 6px;
}
#perspective2 .imagebox2 img:nth-child(6){
  margin-right: 0;
}


#perspective3 .imagebox3 img {
  height:400px;
  margin-right: 6px;
}

#perspective3 .imagebox3 img:nth-child(5){
  margin-right: 0;
}

#perspective3 .imagebox3 .imgscroll3 img:nth-child(3) {
  margin-right: 6px;
  width: 300px;
  height: 274px;
}

.scrollword{
  position: fixed;
  bottom: 20vh;
  left: 40vw;
  font-size: 15pt;
  font-style: italic;
  padding left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}
